<html><head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="343472176763011162126375">
    <meta property="wb:webmaster" content="9e9e7adec3348110">
    <title>江西外语外贸职业学院安全题库</title>
    <meta name="baidu-site-verification" content="oGv5y9rUMv">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">    <!-- Le styles -->
    <link href="__INDEX__/css/bootstrap.css" rel="stylesheet">
    <link href="__INDEX__/Css/common_2016.css" media="screen" rel="stylesheet" type="text/css">

    <link href="__INDEX__/Css/ctf_details.css" media="screen" rel="stylesheet" type="text/css">

    <link href="/img/favicon.ico" rel="shortcut icon">
    <!-- Scripts -->
    <script src="//hm.baidu.com/hm.js?34d6f7353ab0915a4c582e4516dffbc3"></script><script type="text/javascript" async="" defer="" src="//statistics.shiyanbar.com/piwik.js"></script><script type="text/javascript" src="__INDEX__/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__INDEX__/Scripts/common.js"></script>
    <script type="text/javascript" src="__INDEX__/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="__INDEX__/Scripts/messages_zh.js"></script>
    <script type="text/javascript" src="__INDEX__/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="__INDEX__/Scripts/layer.js"></script><link rel="stylesheet" href="file:///C:/Users/Administrator/Desktop/shiyanba/Scripts/skin/layer.css" id="layui_layer_skinlayercss" style="">
    <script type="text/javascript" src="__INDEX__/Scripts/laytpl.js"></script>


</head>

<body>

{include file="common/head"}
<!-- nav end -->
<script>

    $("#logout").click(function()
    {
        window.location.href="{:url('Index/logout')}";
    })

    $(function () {
        //导航菜单效果
        $("#navContent #nav li").each(function (index) {
            var navhref = $(this).children("a").attr("href");
            var pathname = window.location.pathname;
            if (pathname.indexOf(navhref) > -1) {
                $(this).addClass('cur');
                $(this).siblings('li').removeClass('cur');
                return false;
            }
        });
    })



    $(document).ready(function(){
        $("li.active span").css("margin-right","10px").css("margin-left","10px");
        $("li.active").removeClass();
    })
</script>
<div class="container">
    <div class="train_question_main">

        <!--内容左部分-->
        <ul class="page-nav clearfix">

            <li class="active"><a href="{:url('Index/index')}">训练题库</a></li>

        </ul>


        <!--排名弹出层-->
        <div class="pop_markW"><div class="pop_mark"></div></div>
        <div class="poplistbox clearfix" id="rank_pop">
            <div class="close"></div>
            <div class="mytop"><span>我的排行</span></div>
            <div id="myrank_div"></div>
        </div>
        <!--排名弹出层end-->
        <script id="mycontribute_temp" type="text/html">
            <ul class="showmetops">
                <li><span class="td">Rank</span>
                    <span class="td">昵称</span>
                    <span class="td">最佳类别</span>
                    <span class="td">综合贡献</span>
                    <span class="td">贡献值</span>
                </li>
                {{# for(var i=0,len = d.myrank.length;i<len;i++){ }}
                {{# if(d.myrank[i]['StudentID']==0){ }}
                <li class="me">
                    {{# }else{ }}
                <li>
                    {{# } }}
                    <span class="td"> {{# if(d.mynumber>5){ }}
                    {{ (d.mynumber-4) + i }}
                    {{# }else{ }}
                       {{ i+1 }}
                  {{# } }}
              </span>
                    <span class="td"><a href="/user/studentcourse/{{ d.myrank[i]['uuid'] }}" target="_blank" >{{ d.myrank[i]['NickName'] }}</a></span>
                    <span class="td">{{ d.myrank[i]['BestSpecies'] }}</span>
                    <span class="td">{{ d.myrank[i]['ExamTotal'] }}道</span>
                    <span class="td">{{ d.myrank[i]['ScoreTotal'] }}</span>
                </li>
                {{# } }}
            </ul>

            {{# if(d.mynumber==0){ }}
            <div class="notop_tips" style="display: block;">目前没有您的排名！！</div>
            {{# } }}
        </script>
        <script>

            function write_up_look(id)
            {
                window.location.href = "http://passport.shiyanbar.com/login?return_url=http%3A%2F%2Fwww.shiyanbar.com%2Fctf%2Fpractice";
            }



            /**
             *我的排名
             * @param {string} url   ajax 请求地址
             * @param {json} data     ajax 发送的数据
             * @param {string} tmp    加载模板id
             * @returns  html
             * */
            function myRankList(url,data,tmp)
            {
                $.ajax({
                    dataType:'JSON',
                    type:'POST',
                    url:url,
                    data:data,
                    beforeSend:function(XMLHttpRequest){
                        $(".pop_markW,.poplistbox").fadeIn(200);
                        $("#myrank_div").html('');
                        var moreload='<div id="loader"><img src="__INDEX__/Picture/loaded.gif" style="margin:50px auto;width:60px;display:block;"></div>';
                        $("#myrank_div").append(moreload);
                    },
                    success:function(data){

                        $("#myrank_div").find("#loader").remove();
                        if(data.myrank.length>0){
                            var gettpl = $(tmp).html();
                            laytpl(gettpl).render(data,function(html){
                                $("#myrank_div").append(html);
                            });

                        }else{
                            $("#myrank_div").html('<div style="margin:20px 0; overflow:hidden; text-align:center;width: 100%; height: 30px;line-height: 30px; color:red;">目前还没有排名!!</div>');
                        }
                    }
                });
            }
            $(function(){
                $(".page-banner-nav li").each(function(index){
                    var navhref=$(this).children("a").attr("href");
                    var pathname=window.location.pathname;
                    if(pathname.indexOf(navhref)>-1){
                        $(this).addClass('active');
                        $(this).siblings('li').removeClass('active');
                    }
                });
                $(".close").click(function() {
                    $(".pop_markW,.poplistbox").fadeOut(200);
                });
                //点击日期我的排名
                $("#ctf_rank01").click(function(){
                    if(0 >0){
                        var rank=$("#leftrank_tabNav").find("li.cur").attr('rank');
                        myRankList('/ctf/myranklist',{rank:rank},"#myrank_temp");
                    }else{
                        window.location.href = "http://passport.shiyanbar.com/login?return_url=http%3A%2F%2Fwww.shiyanbar.com%2Fctf%2Fpractice";
                    }
                });
                //我的题目贡献
                $("#ctf_rank02").click(function(){
                    var studentid=0;
                    if( studentid>0){
                        myRankList('/ctf/mycontributionranklist',{studentID:studentid},"#mycontribute_temp");
                    }else{
                        window.location.href = "http://passport.shiyanbar.com/login?return_url=http%3A%2F%2Fwww.shiyanbar.com%2Fctf%2Fpractice";
                    }
                });
                //我的writeup贡献
                $("#ctf_rank03").click(function(){
                    var studentid=0;
                    if( studentid>0){
                        myRankList('/ctf/mywriteupranklist',{studentID:studentid},"#mycontribute_temp");
                    }else{
                        window.location.href = "http://passport.shiyanbar.com/login?return_url=http%3A%2F%2Fwww.shiyanbar.com%2Fctf%2Fpractice";
                    }
                });
                //提交题目
                $("#creatctf_btn").click(function(){
                    window.location.href = "http://passport.shiyanbar.com/login?return_url=http%3A%2F%2Fwww.shiyanbar.com%2Fctf%2Fpractice";

                });

            })
        </script>
        <script>
            //周排行，月排行，季度排行，年度排行
            function rankList(rank){
                $.ajax({
                    dataType:'JSON',
                    type:'POST',
                    url:'/ctf/ranklist',
                    data:{rank:rank},
                    beforeSend:function(XMLHttpRequest){
                        $("#rank_ul").html('');
                    },
                    success:function(data){
                        if(data.ranklist.length>0){
                            var gettpl = $("#ranklist_temp").html();
                            laytpl(gettpl).render(data,function(html){
                                $("#rank_ul").append(html);
                            });
                        }else{
                            $("#rank_ul").html("<center>还没有榜单</center>")
                        }
                    }
                });
            }
            $(function(){
                rankList('week');
                /*周榜到年榜——切换*/
                $('.train_mle_hero1 .hero_rank1 li').click(function(){
                    var rank = $(this).attr('rank');
                    $(this).addClass("hover").siblings().removeClass("hover");
                    rankList(rank);
                })
            });
        </script>

        <!--内容右部分-->
        <div class="train_m_right" style="margin-right:10%;">
            <!--右侧内容1——tabs切换-->
            <div class="train_mri_tabs" id="key_tabNav">
                <!--显示-->
                <ul class="train_mri_tabs_nav">
                    {volist name="cateData" id="vo"}
                    <li species_id="{$vo.id}" id="" class="hover" onclick="">{$vo.catename}</li>
                    {/volist}
                    <!--<li species_id="3" class="">密码学</li>-->
                    <!--<li species_id="1" class="">安全杂项</li>-->
                    <!--<li species_id="5" class="">逆向工程</li>-->
                    <!--<li species_id="6" class="">隐写术</li>-->
                    <!--<li species_id="2" class="hover">编程</li>-->
                    <!--<li species_id="4" class="">溢出</li>-->

                </ul>
                <!--切换的内容-->




<script>
    $(document).ready(function(){
        //解决初始不显示页面问题 使之默认点击一个
        $("#show2").show();
        $("#show2").trigger("click");//默认触发点击搜索按钮
        $("#show2").eq(0).click();//默认第一个点击
    })

</script>
                {volist name="cateData" id="vo"}
                <div class="tabs_show" style="display: none;" id="show{$vo.id}">
                    <div class="show_text">
                        <p>{$vo.desc}</p>
                        <div class="show_num"><span></span>参与人数：<b>{$vo.click}</b></div>
                    </div>
                    <div class="show_parameter">
                        <span class="not"><b class="bb red"></b>无人能解</span>
                        <span class="yes"><b class="bb blue"></b>我已解开</span>
                        <span class="notes">注：第1-3名解开题目额外加分20、10、5</span>
                    </div>
                    <div class="show_subject" id="tabinfo_child{$vo.id}"> <!--此处为CID 栏目ID-->
                        <div class="subject1">
                            <ul>
                                <?php
                                    $arr=$subjectData;
                                    foreach($arr as $k=>$v)
                                        {
                                            if($v['cid']==$vo['id'])
                                                {
                                                    $title = $v['title'];
                                                    $suID = $v['id'];
                                                if(isset($aid))
                                            {
                                                    foreach($aid as $v1)
                                                    {
                                                        if($v['id'] == $v1)
                                                        {
                                                            $v['class']='class="yes_blue"';
                                                        }
                                                    }
                                            }           $url = "http://localhost/tp5/public/index.php/index/index/subject?suID=$suID";
                                                    echo "<li> <a href='$url'";

                                                    if(isset($v['class']))
                                                    { echo $v["class"]; }
                                                    echo " >$title</a> </li>";
                                                }
                                        }
                                ?>

                            </ul>
                        </div>
                        <script>
                            $("document").ready(function () {

                                $(".suclass").attr("href"," {:url('index/subject',array('suID'=>$suID))}");
                            })

                        </script>
                        <div style="clear: both"></div>
                        <div class="show_flip"></div>
                    </div>
                </div>
                {/volist}



                <script type="text/html" id="species_temp">
                    {{# if(d.paginator.length>0){ }}
                    <div class="subject1" >
                        <ul>
                            {{# for(var i=0,len=d.paginator.length;i<len;i++){ }}
                            <li>
                                {{#  var class_name='';
                                if(d.paginator[i]['StudentCount']==0){
                                class_name ='not_red';
                                }

                                }}
                                <a href="/ctf/{{ d.paginator[i]['ExamCTFID'] }}" title="{{ d.paginator[i]['Title'] }}" target="_blank" class="{{ class_name }}">{{ d.paginator[i]['Title'] }}</a>
                            </li>
                            {{# } }}
                        </ul>
                    </div>
                    <div style="clear: both"></div>
                    <div class="show_flip">
                        {{# if(d.paginator_previous){ }}
                        <a href="javascript:;" class="show_prev" onclick="javacript:speciesInfo({{ d.speciseID }},{{ d.paginator_previous }})">上一页</a>
                        {{# } }}
                        {{# if(d.paginator_next){ }}
                        <a href="javascript:;" class="show_next" onclick="javasript:speciesInfo({{ d.speciseID }},{{ d.paginator_next }})">下一页</a>
                        {{# } }}
                    </div>
                    {{# } }}
                </script>
            </div>

            <!--右侧内容2——最新评论-->
            <script id="commentlist_script" type="text/html">
                {{# for(var i =0,len = d.paginator.length;i<len;i++){ }}
                <li>
                    <div class="de_mle_topic">
                        <!--头像-->
                        <a target="_blank"  href="/user/studentcourse/{{ d.paginator[i].uuid }}" title="">
                            <div class="de_mle_topic_head">
                                {{# if(d.paginator[i]['RoleType']==2){ }}
                                <div class="plus x" title="学霸"></div>
                                {{# } }}
                                {{# if(d.paginator[i]['RoleType']==6){ }}
                                <div class="plus g" title="官方教师"></div>
                                {{# } }}
                                <img src="Picture/{{ d.paginator[i].image }}" alt="{{ d.paginator[i].NickName }}">
                                <div class="topic_title">{{ d.paginator[i].NickName }}</div>
                            </div>
                        </a>
                        <!--文本内容-->
                        <div class="topic_text">
                            <a href="/ctf/{{ d.paginator[i].ExamCTFID }}" target="_blank">  <p>{{ d.paginator[i].Content }}</p></a>
                        </div>
                        <div class="topic_text_time">
                            <span>{{ d.paginator[i].CommentTime }}</span>
                            <span class="text_reply">来自：<a href="/ctf/{{ d.paginator[i].ExamCTFID }}" target="_blank">{{ d.paginator[i].Title }}</a></span>
                        </div>
                    </div>
                </li>
                {{# } }}
            </script>
            <div class="train_mri_news_comment">
                <h3>最新评论<span>NEW</span></h3>
                <div class="news_comment">
                    <div class="de_mle_topic_main" id="comment_list_ul" style="margin-top: -100px">
                        {volist name="comment" id="vo"}
                        <div class="de_mle_topic">                 <!--头像-->
                            <a href="" target="_blank">
                                <div class="de_mle_topic_head">
                                    <img src="__UPLOADS__/{$vo.url}">
                                    <div class="topic_title" student_id="170137">{$vo.username}</div>
                                </div>    </a>                 <!--文本内容-->
                            <div class="topic_text">
                                <p>{$vo.comment}</p>
                            </div>
                            <div class="topic_text_time">
                                <span>{$vo.time|date="Y年m月d日",###}</span>
                                <span class="text_reply" parent_id="30900" student_id="170137" student_name="jelly_zy">

                            </div>
                        </div>
                        <div style="clear: both"></div>
                        {/volist}
                    </div>

                    {$comment->render()}
                </div>
            </div>
        </div>


    </div>
    <script type="text/javascript">
        function speciesInfo(specise,page)  //栏目内容AJAX
        {
            // $.ajax({
            //     dataType:'JSON',
            //     type:'POST',
            //     url:'/ctf/exam-ctf-list',
            //     data:{species_id:specise,page:page},
            //     beforeSend:function(XMLHttpRequest){
            //         var moreload='<div id="loader"><img src="__INDEX__/Picture/loaded.gif" style="margin:50px auto;width:60px;display:block;"></div>';
            //         $("#tabinfo_child"+specise).html('');
            //         $("#tabinfo_child"+specise).append(moreload);
            //     },
            //     success:function(data){
            //         $("#tabinfo_child"+specise).find("#loader").remove();
            //         var gettpl = $("#species_temp").html();
            //         laytpl(gettpl).render(data,function(html){
            //             $("#tabinfo_child"+specise).append(html);
            //         });
            //
            //
            //     }
            //
            // });
        }
        function commentList(page){         //评论AJAX
            if ( typeof page == "undefined") {
                page = 1;
            }
            // $.ajax({
            //     dataType: 'JSON', //数据类型
            //     type: "POST",
            //     url: "/ctf/ctfcommentlist",
            //     data:{page:page},
            //     beforeSend:function(XMLHttpRequest){
            //         var moreload='<div id="loader"><img src="__INDEX__/Picture/loaded.gif" style="margin:200px auto;width:60px;display:block;"></div>';
            //         $("#comment_list_ul").html( moreload);
            //         $(".CTF_paging").hide();
            //     },
            //     success: function (data) {
            //         $("#comment_list_ul").find("#loader").remove();
            //
            //         if(data.paginator.length>0){
            //             $(".CTF_paging").show();
            //             var gettpl = $("#commentlist_script").html();
            //             laytpl(gettpl).render(data, function(html){
            //                 $("#comment_list_ul").append(html);//渲染
            //             });
            //             var pagelink =getPaginatorRedirect(data,'commentList');
            //             $(".CTF_paging").html(pagelink);
            //         }else{
            //             var text="<p style='text-align: center;'>暂无评论</p>";
            //             $("#comment_list_ul").html(text);
            //         }
            //
            //     },
            //     error:function(){
            //     }
            // });
        }
        $(function(){
            var speciesID =$("#key_tabNav").find("li.hover").attr("species_id");
            speciesInfo(speciesID,1);
            //滚动播放下，得分tab菜单效果
            $("#key_tabNav li").click(function(){
                $(this).addClass("hover").siblings().removeClass("hover");
                var $this = $(this);
                var $thisIndex = $this.index();
                $(".tabs_show").eq($thisIndex).show().siblings(".tabs_show").hide();
                var speciesID = $(this).attr("species_id");
                speciesInfo(speciesID,1);

            });
            //加载一页面评论
            commentList(1);

        })
    </script>


</div>
<!--footermain-->
<div class="footer-container clearfix">
    <div class="page-main">
        <p><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="#">加入我们</a>|<a href="#">成为讲师</a>|<a href="#">友情链接</a>
            <span>意见反馈：pm@shiyanbar.com</span> <span>客服电话：010-82327658-8012</span></p>

        <p>地址：江西省南昌市天祥大道291号</p>

        <p class="copyright"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020740" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"></a></p>
    </div>

</div>

<!--footermain end-->


<ul class="fixedTips" id="fixedTips">
    <li><a href="javascript:;" id="toTop">置顶</a></li>
    <li><a target="_blank" href="/about/feed-back">反馈</a></li>
    <li><a href="http://shang.qq.com/wpa/qunwpa?idkey=e54b73a920f74055adc972931d742e0126412a95313c08188258b2fbb7cd02cc" target="_blank">QQ</a></li>
</ul>




</body></html>